* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 200vh;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: #893a3a;
  color: white;
  margin-bottom: 20px;
  margin: 20px 0;
  
  /* position: sticky;
  top: 0; */
  z-index: 0;
}

#container {
  background-color: lightgray;
  border: 1px solid #9d9d9d;
  width: 80%;
  min-height: 300px;
  margin: 45px auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

#container div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 95px;
  color: white;
  margin: 15px;
}
/* padrão static quer dizer que ele não vai mudar de posição, não da pra mover os elementos */
#static {
  background-color: #4caf50;
  position: static;
}
/* top(é colocado a posição de distancia(sentido contrario) é movimentado a partir od posicionamento incial,
rigth,  */
#relative {
  background-color: #ff9800;
  position: relative;
  top: 50px
}
/* para que o absolute tenha uma maior (ter o controle) especificidade é necessario colocar outra tag #container #absolute */
/* o absolut vai  usar o elemento body como posição inicial / a partir da margen */
#container #absolute {
  background-color: #3639f4;
  position: absolute;
  top: 0
}
/* o fixed sempre vai se posicionar em relação ao elemento BODY */
#fixed {
  background-color: #9c27b0;
  /* fixed não se movimenta */
  position: fixed;  
}
